.table {
    margin: 20px auto;
    width: 800px;
}

thead {
    font-size: larger;
}

.chatroom-list {
    text-align: center;
}

.chatroom-list a {
    color:gray;
    cursor: pointer;
}

.chatroom-list a:hover {
    color:coral;
}

.chatplayingroom-create {
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    padding: 8px;
}

.chatplayingroom-create:hover {
    background-color: rgb(43, 68, 141);
}