.login-content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-content .login-title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}

.login-content .px-4{
    width: 500px;
}

.login-content .px-4 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 454px;
    margin: 30px auto 10px;
}

.login-content .dropdown-item{
    width: 500px;
    padding: 0 24px;
}